/* Main App Container */
/* .app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  min-height: 100vh;
} */

/* Card Layout Sections */
/* .card-grid-section {
  display: flex;
  justify-content: space-evenly;
  gap: 2rem;
  margin: 2rem 0;
} */

/* Base Card Styles (override in Card.module.css if needed) */
.card {
  background: var(--card-bg);
  border-radius: 1rem;
  justify-items: center;
  align-content: center;
  /* width: 1%; */
  padding: 20px;
  /* padding: var(--spacing-md); */
  box-shadow: 0 20px 8px rgb(155, 121, 185, .5);
}

#page {
  justify-items: center;
}

#about-me, #contact, #top-card-section, #middle-card-section, #bottom-card-section {
  display: flex;
  margin: 50px;
  gap: 2%;
  width: 60%;
}

#top-card-section {
  justify-content: center;
}

#bottom-card-section {
  justify-content: center;
}

#profile-pic {
  max-width: 70%;
  border-radius: 50%;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
  .app {
    padding: 1rem;
  }
  
  .card-grid-section {
    flex-direction: column;
  }
}